/* Primary Color */

$Dark_cyan: hsl(158, 36%, 37%)
$Cream: hsl(30, 38%, 92%)

/* Natural Color */

$Very_dark_blue: hsl(212, 21%, 14%)
$Dark_grayish_blue: hsl(228, 12%, 48%)
$White: hsl(0, 0%, 100%)

/*font-family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap')

@mixin prop ($height, $width, $bg) 
    height: $height
    width: $width
    background-color: $bg
   


*
  margin:0
  padding:0
  box-sizing: border-box

body
  background-color: $Cream 

.product_container
  @include prop(320px, 500px, $White)
  display: flex
  margin: 120px auto 100px auto
  justify-content: center
  align-items: center
  border-radius: 10px
  
 
.product_img img  
  width:100%
  height:320px
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px

.product_img
 width:250px
 float: left

.content_container
 width:249px
 hight:320px
 float: right

.content_container a 
 background: green

